.main {
  margin-top: 12px;
 }
 
 .player {
  display: flex;
  width: 680px;
  margin: auto;
  border: 6px solid #ccc;
  box-shadow: 8px 15px 15px #888;
  border-radius: 15px;
  overflow: hidden;
 }
 
