.main {
  margin-top: 7px;
 }
 
 .player {
  display: flex;
  width: 780px;
  margin: auto;
  border: 6px solid #ccc;
  box-shadow: 6px 15px 15px #888;
  border-radius: 10px;
  overflow: hidden;
 }
 
