.main {
  margin-top: 73px;
 }
 
 .player {
  display: flex;
  width: 780px;
  margin: auto;
  border: 6px solid #ccc;
  box-shadow: 6px 10px 12px #888;
  border-radius: 12px;
  overflow: hidden;
 }
 
