.main {
  margin-top: 80px;
 }
 
 .player {
  display: flex;
  width: 680px;
  margin: auto;
  border: 6px solid #ccc;
  box-shadow: 30px 30px 3px #888;
  border-radius: 10px;
  overflow: hidden;
 }
 
