
.search-bar {
    width: 750px;
    margin-bottom: 40px;
   }
   
   .player-option-image {
    height: 32px;
    margin-right: 25px;
   }
   
   .player-option-label {
    font-size: 25px;
   }
   
