
.App-logo {
  padding-left: 40px;
  height: 35px;
  float: left;
 }

 #header-word {
  font-size: 20px;
  color: white;
  margin: 0px 20px 1px 20px;

 }
 
 .App-header {
  background-color: #1D428A;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
 }
 
 .App-title {
  font-size: 1.5em;
 }
 
