
.App-logo {
  padding-left: 105px;
  height: 15px;
  float: left;
 }

 #header-word {
  font-size: 10px;
  color: white;
  margin: 15px 30px 10px 95px;

 }
 
 .App-header {
  background-color: #1D428A;
  height: 25px;
  color: white;
  display: flex;
  align-items: center;
 }
 
 .App-title {
  font-size: 1.5em;
 }
 
